<p>
  <label for="settings_git_local_path_default"><%= l(:label_default_local_repo_path) %></label>
  <input type="text" style="padding-left:2px;" size="60"
                     id="settings_git_local_path_default"
                     value="<%= settings['git_local_path_default'] %>"
                     name="settings[git_local_path_default]" >
  <em class="info"><%= l(:note_default_local_repo_path) %></em>
</p>
<p>
  <label for="settings_git_remote_url_prefix_default"><%= l(:label_default_remote_repo_url_prefix) %></label>
  <input type="text" style="padding-left:2px;" size="60"
                     id="settings_git_remote_url_prefix_default"
                     value="<%= settings['git_remote_url_prefix_default'] %>"
                     name="settings[git_remote_url_prefix_default]">
  <em class="info"><%= l(:note_default_remote_repo_url_prefix) %></em>
</p>
<p>
  <%= content_tag(:label, l(:label_delete_unused_repo_from_disk)) %>
  <%= check_box_tag('settings[delete_unused_repo_from_disk]', true, @settings['delete_unused_repo_from_disk']) %>
  <em class="info">
	<%= l(:note_delete_unused_repo_from_disk) %>
  </em>
</p>